h1 {
  color: blue;
}

body {
  margin: 0;
}

div {
 float: left;
}

.header {
 background-color: peachpuff;
 width: 100%;
}

.navigation {
 background-color: orange;
 width: 20%;
}

.main-content {
 background-color: lightblue;
 width: 45%;
 padding: 2.5%;
 }


.image-cropper {
    width: 250px;
    height: 250px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;w
}

img {
    display: inline;
    margin: 0 auto;
    height: 100%;
    width: auto;

}

.sidebar {
 background-color: goldenrod;
 width: 30%;
}

.footer {
 background-color: lightgreen;
 width: 100%;
}
